<div class="step-grid">
  <app-form-field class="field--wide" label="Địa chỉ chi tiết" [required]="true">
    <div class="input-wrapper">
      <input 
        class="field-input" 
        type="text" 
        name="address" 
        [(ngModel)]="form.address" 
        (ngModelChange)="onAddressChange($event)"
        (focus)="isSuggestionsVisible = suggestions.length > 0"
        (blur)="hideSuggestions()"
        placeholder="Số nhà, tên đường" 
        autocomplete="off"
      />
      <div class="suggestions-dropdown" *ngIf="isSuggestionsVisible && suggestions.length > 0">
        <div class="suggestion-item" *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
          {{ suggestion.display_name }}
        </div>
      </div>
    </div>
  </app-form-field>
  <app-form-field label="Phường / Xã" [required]="true">
    <input class="field-input" type="text" name="ward" [(ngModel)]="form.ward" placeholder="Nhập phường / xã" />
  </app-form-field>

  <app-form-field label="Quận / Huyện" [required]="true">
    <input class="field-input" type="text" name="district" [(ngModel)]="form.district" placeholder="Nhập quận / huyện" />
  </app-form-field>

  <app-form-field label="Tỉnh / Thành phố" [required]="true">
    <input class="field-input" type="text" name="province" [(ngModel)]="form.province" placeholder="Nhập tỉnh / thành phố" />
  </app-form-field>

  <app-form-field label="Thành phố" [required]="true">
    <input class="field-input" type="text" name="city" [(ngModel)]="form.city" placeholder="Nhập thành phố" />
  </app-form-field>
</div>
